@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&family=Noto+Sans+JP:wght@400;700&family=Sawarabi+Gothic&display=swap');
@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0% 220);
  --color-foreground: oklch(0.3211 0 0);
  --color-card: oklch(100% 0% 220);
  --color-card-foreground: oklch(0.3211 0 0);
  --color-popover: oklch(95% 0% 220);
  --color-popover-foreground: oklch(0.78 0.18 186);
  --color-primary: oklch(0.78 0.18 186);
  --color-primary-foreground: oklch(100% 0% 220);
  --color-secondary: oklch(0.7295 0.136 223.42);
  --color-secondary-foreground:  oklch(100% 0% 220);
  --color-muted:  oklch(95% 0% 220);
  --color-muted-foreground: oklch(0.3211 0 0);
  --color-accent: oklch(95% 0% 220);
  --color-accent-foreground: oklch(96.89% 30% 190);
  --color-destructive: oklch(0.7294 0.18 0);
  --color-destructive-foreground: oklch(100% 0% 220);
  --color-border: oklch(0.3211 0 0);
  --color-input: rgb(30, 30, 30);
  --color-ring: oklch(0.78 0.18 186);
  --color-ring-ring: oklch(0.78 0.18 186);
  --radius: 0.5rem;
}
 
@layer base {
  * {
    @apply border-gray-400;
  }
  body {
    @apply bg-background text-foreground;
  }

  body.font-mplus {
    font-family: 'M PLUS 1p', sans-serif;
  }

  body.font-noto {
    font-family: 'Noto Sans JP', sans-serif;
  }

  body.font-sawarabi {
    font-family: 'Sawarabi Gothic', sans-serif;
  }
  
  html.dark {
    --color-background: rgb(30, 30, 30);
    --color-foreground: rgb(212, 212, 212);
    --color-card: rgb(39, 39, 39);
    --color-card-foreground: rgb(212, 212, 212);
    --color-popover: rgb(39, 39, 39);
    --color-popover-foreground: rgb(212, 212, 212);
    --color-primary: rgb(29, 178, 134);
    --color-primary-foreground: rgb(160, 245, 219);
    --color-secondary: oklch(0.6801 0.1343 229.77);
    --color-secondary-foreground:  rgb(212, 212, 212);
    --color-muted: rgb(68, 68, 68);
    --color-muted-foreground: rgb(212, 212, 212);
    --color-accent: rgb(68, 68, 68);
    --color-accent-foreground: rgb(29, 178, 134);
    --color-destructive: oklch(0.7294 0.18 0);
    --color-destructive-foreground: oklch(100% 0% 220);
    --color-border: oklch(34% 17% 216);
    --color-input: oklch(34% 17% 216);
    --color-ring: oklch(0.78 0.1828 218.11);
    --color-ring-ring: oklch(0.78 0.1828 218.11);
    --radius: 0.5rem;
  }
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

